body {
  font-family: 'Roboto', sans-serif;
}

h1,
h4,
.navbar-brand,
.navbar-right li a {
  text-transform: uppercase;
  font-weight: 500;
}

.navbar.container {
  width: 100vw;
}
.navbar-brand {
  font-size: 2em;
}

.navbar.navbar-default {
  background-color: #000;
  height: 50px;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
  color: #fff!important;
}

.navbar-collapse {
  background-color: #000;
  color: #fff;
  text-align: center;
}

#quote {
  max-height: 100vh;
  padding-top: 30vh;
  padding-bottom: 70vh;
  background-color: #000;
}

#quote h1 {
  font-size: 100px;
  word-spacing: 0.25em;
  color: #fff;
}

/*#myCarousel {*/
/*  max-height: 100vh;*/
/*}*/

.carousel-inner img {
  width: 100%;
  height: 460px;
}
.carousel-indicators li {
  border: 2px solid #828282!important;
}

/*footer style*/
.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10%;
}

.contact span {
  padding: 0.5rem;
}

.contact span a {
  color: #0033ff;
}

.contact span a:hover {
  color: #1861c9;
}

.contact span a:active {
  color: red;
}

.fa-heart {
  color: red;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 2) {
    
  .navbar-brand {
    font-size: 1.5em;
  }
  .navbar-toggle.collapsed {
    padding: .75rem;
  }
  
  #quote h1 {
    font-size: 40px;
  }
}
